:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --paler-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --activated-blue: hsl(245, 89%, 75%);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Red Hat Display';

    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--pale-blue);

}

*, *::after, *::before {
    box-sizing: inherit;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.attribution {
    opacity: .5;
}
